@use "../util" as *;

h1,
h2,
h3 {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

p {
  font-family: var(--sans);
  font-style: normal;
  font-weight: normal;
}

h2 {
  font-family: var(--display);
  font-style: normal;
  font-weight: 600;
  font-size: rem(80);
  line-height: rem(90);
}
