@use "../util" as *;

.banner {
  background: var(--pastel-green);
  padding-bottom: rem(208);
  color: var(--white);
  &-content {
    text-align: center;
    margin: 0 auto;
    max-width: rem(700);
    padding: rem(100) 0;

    h2 {
      margin: 0 auto rem(30);
    }
    p {
      font-size: rem(22);
      line-height: rem(35);
      margin: 0 auto rem(50);
      max-width: 88%;
    }
  }
}
