@use "../util" as *;

.banner {
  background: var(--pastel-green);
  padding-bottom: rem(208);
  color: var(--white);
  position: relative;

  &-content {
    text-align: center;
    margin: 0 auto;
    max-width: rem(700);
    padding: rem(100) 0;

    h2 {
      margin: 0 auto rem(30);
    }
    p {
      font-size: rem(22);
      line-height: rem(35);
      margin: 0 auto rem(50);
      max-width: 88%;
    }
    a.btn {
      &::before {
        background: var(--pastel-green);
      }

      &:hover::before {
        background: var(--pastel-pink);
      }
    }
  }

  .container {
    position: relative;
  }
  &-progress {
    position: absolute;
    height: 70%;
    top: 15%;
    left: rem(-5);
    transform: translateX(-100%);
  }
}
