@use "../util" as *;

.banner {
  font-size: 1rem;
  background: var(--pastel-green);
  padding-bottom: em(208);
  color: var(--white);
  position: relative;

  &-content {
    text-align: center;
    margin: 0 auto;
    max-width: rem(700);
    padding: em(100) 0;

    h2 {
      margin: 0 auto em(6);
      font-size: em(80);
      line-height: 1.125;
    }
    p {
      font-size: em(22);
      line-height: 1.59;
      margin: 0 auto em(36);
      max-width: 88%;
    }
    a.btn {
      &::before {
        background: var(--pastel-green);
      }

      &:hover::before {
        background: var(--pastel-pink);
      }
    }
  }

  &-progress {
    position: absolute;
    height: 70%;
    top: 15%;
    left: rem(-5);
    transform: translateX(-100%);
  }

  @include breakpoint(medium) {
    font-size: 0.8rem;
  }
  @include breakpoint(large) {
    font-size: 1rem;
  }
}
