@use "../util" as *;

.blogs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  padding: rem(96) 0;
  font-size: 1rem;
  margin: 0 auto;
  width: 100%;
  position: relative;
  max-width: rem(1440);

  img {
    padding-right: 10%;
    width: 90%;
  }

  &-list {
    list-style: none;
    margin-bottom: em(50);
    padding-right: rem(24);
    // padding-bottom: rem(100);

    @include breakpoint(medium) {
      padding-right: 4rem;
    }

    @include breakpoint(xlarge) {
      padding-right: 0;
    }

    li {
      padding: em(44) 0 em(42);
      font-family: var(--sans);
      display: inline-block;
      padding-right: 2em;
      cursor: pointer;

      &:first-child {
        padding-top: 0;
      }
      &:not(:last-child) {
        border-bottom: 1px solid var(--black);
      }

      .category {
        font-style: normal;
        font-weight: normal;
        font-size: em(15);
        line-height: em(32);
        // margin-bottom: em(6);
      }
      .title {
        font-style: normal;
        font-weight: 500;
        font-size: em(25);
        line-height: em(32);
        font-family: var(--sans);
        // margin-bottom: em(6);
        transition: all ease-in-out 0.2s;
      }
      .author {
        font-family: var(--display);
        font-style: normal;
        font-weight: 500;
        font-size: em(17);
        line-height: em(32);
        color: var(--pastel-pink);
      }

      &:hover {
        .title {
          font-size: em(30);
          color: var(--pastel-green);
        }
      }
    }
  }

  .btn {
    &::before {
      background: var(--pastel-green);
    }

    &:hover {
      color: var(--pastel-green);
    }
  }

  @include breakpoint(medium) {
    font-size: 0.8rem;
  }
  @include breakpoint(large) {
    font-size: 0.9rem;
  }
  @include breakpoint(xlarge) {
    font-size: 1rem;
    .design {
      grid-template-columns: 1fr minmax(614px, 1fr);

      &-details:first-child {
        margin-right: em(40);
      }
    }
    .portfolio {
      grid-template-columns: 1fr minmax(614px, 1fr);
    }
  }
}
