@use "../util" as *;

.designs {
  background: var(--pastel-green);
  color: var(--white);
  padding-top: rem(111);
  font-family: var(--sans);
  font-style: normal;
  font-weight: normal;
  font-size: rem(20);
  line-height: rem(40);

  .container {
    position: relative;
  }
  &-decor {
    position: absolute;
    height: 70%;
    top: 15%;
    left: rem(-35);
  }

  .design {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "text image" ". details";
    align-items: end;
    margin-bottom: rem(242);

    &-text {
      grid-area: text;
      padding-right: rem(122);

      h2 {
        font-family: var(--display);
        font-style: normal;
        font-weight: 600;
        font-size: rem(60);
        line-height: rem(70);
        margin-bottom: rem(169);
      }

      div {
        display: grid;
        grid-template-columns: 3fr 4fr;
        align-items: flex-start;
      }
    }
    &-details {
      grid-area: details;
      margin-top: rem(95);

      &:first-child {
        margin-right: rem(123);
      }
    }
    &-img {
      grid-area: image;
      width: 100%;
    }
  }
  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;

    &-text {
      &:first-child {
        margin-right: rem(123);
      }
      margin-bottom: rem(95);
    }
    &-img {
      width: 100%;
    }
  }
}
