@use "../util" as *;

.designs {
  background: var(--pastel-green);
  color: var(--white);
  padding-top: rem(111);
  font-family: var(--sans);
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;

  &-decor {
    position: absolute;
    height: 70%;
    top: 15%;
    left: rem(-5);
    transform: translateX(-100%);
  }

  .design {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "text image" ". details";
    align-items: end;
    margin-bottom: em(242);
    grid-column-gap: 1rem;
    grid-row-gap: em(95);

    &-text {
      grid-area: text;
      // padding-right: rem(122);

      h2 {
        font-family: var(--display);
        font-style: normal;
        font-weight: 600;
        font-size: em(50);
        line-height: 1.4;
        margin-bottom: em(60);

        @include breakpoint(large) {
          font-size: em(48);
        }
      }

      div {
        font-size: em(20);
        line-height: 2;
        display: grid;
        grid-template-columns: 3fr 4fr;
        align-items: flex-start;
      }
    }
    &-details {
      grid-area: details;
      // margin-top: rem(95);
      font-size: em(20);
      line-height: 2;

      :first-child {
        display: inline-block;
        margin-right: em(20);
      }
    }
    &-img {
      grid-area: image;
      width: 100%;
    }
  }
  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto;
    align-items: center;

    grid-column-gap: 1rem;

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 52.5%;
    }

    &-text {
      font-size: em(20);
      line-height: 2;

      :first-child {
        display: inline-block;
        margin-right: em(20);
      }
    }
    &-img {
      width: 100%;
    }
  }

  @include breakpoint(medium) {
    font-size: 0.8rem;
  }
  @include breakpoint(large) {
    font-size: 0.9rem;
  }
  @include breakpoint(xlarge) {
    font-size: 1rem;
    .design {
      grid-template-columns: 1fr minmax(614px, 1fr);

      &-details:first-child {
        margin-right: em(40);
      }
    }
    .portfolio {
      grid-template-columns: 1fr minmax(614px, 1fr);
    }
  }
}
