@use "../util" as *;

.footer {
  font-family: var(--poppins);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  background-color: var(--pastel-green);
  color: white;
  padding: rem(100) 0;

  .container {
    display: grid;
    grid-template-columns: 40% 1fr 1fr 1fr;
    grid-template-rows: rem(60) auto auto auto;
    grid-template-areas:
      "lg cp le rs"
      "ad cp le rs"
      "sc . . .";
    column-gap: 4rem;
    align-items: start;

    .footer-socials {
      // margin-top: 2rem;
      grid-area: sc;
      display: flex;
      gap: 2rem;
      svg {
        fill: white;
        transition: all ease-in-out 0.2s;
        &:hover {
          fill: var(--pastel-pink);
        }
      }
    }
    .footer-logo {
      grid-area: lg;
    }
    .footer-address {
      grid-area: ad;
    }
    .footer-company {
      grid-area: cp;
    }
    .footer-resources {
      grid-area: rs;
    }
    .footer-legal {
      grid-area: le;
    }
  }

  div > p {
    font-weight: bold;
    font-size: rem(20);
    line-height: rem(32);
    margin-bottom: rem(10);
  }

  ul {
    list-style: none;

    li a:hover {
      color: var(--pastel-pink);
    }
  }
}
