@use "../util" as *;

.services {
  font-size: 1rem;
  .container {
    padding-bottom: em(63);
    padding-top: em(92);
    text-align: center;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12.5%;
    margin-bottom: em(16);

    li {
      margin-bottom: 3rem;
    }
    img {
      width: em(40);
      height: em(40);
    }
    p {
      font-family: var(--sans);
      font-style: normal;
      font-weight: normal;
      font-size: em(17);
      line-height: 1.76;
      color: #a9a39e;
    }
    strong p {
      margin: rem(6) 0 rem(15);
      font-family: var(--lato);
      font-style: normal;
      font-weight: normal;
      font-size: em(20);
      line-height: 1.2;
      color: var(--black);
    }
  }
  a {
    &::before {
      background-color: var(--pastel-green);
    }
    &:hover {
      color: var(--pastel-green);

      &::before {
        background-color: var(--pastel-green);
      }
    }
  }

  @include breakpoint(medium) {
    font-size: 0.8rem;
    ul {
      text-align: left;
      flex-direction: row;
      margin-bottom: em(64);

      li {
        margin-bottom: 0;
      }
      img {
        width: em(60);
        height: em(60);
      }
      strong p {
        margin: rem(20) 0;
      }
    }
  }
  @include breakpoint(large) {
    font-size: 1rem;
  }
}
